#imageContainer {
    border: 5px dotted gray;
    position: relative;
}

#baseImage {
    border: 0;
}

#crosshair {
    position: absolute;
}

#imageUrlInput {
    width: 90%;
}

body {
    padding: 5px;
}
ul
{
    list-style-type: none;
}

label {
    display: inline;
}

#pointManager {
    width: 48%;
    border: solid 1px gray;
    float: left;
    margin: 2px;
    padding: 2px;
}

#codeManager {
    width: 48%;
    border: solid 1px gray;
    float: left;
    margin: 2px;
    padding: 2px;
}

#positionMarker {
    position: absolute;
}

.pointer {
    cursor: pointer;
}

#horizontalGuide {
    position: absolute;
    width: 100%;
    height: 1px;
    background: lightgreen;
    top:0;
    left:0;
}

#verticalGuide {
    position: absolute;
    width: 1px;
    height: 100%;
    background: lightgreen;
    top:0;
    left:0;
}