<!DOCTYPE html>
<html ng-app="app">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/editor.css?v=1.1" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-resource.min.js"></script>
    <script src="js/tracing-paper-app.js?v=1.2"></script>
    <title>Tracing paper tool</title>
</head>
<body>
    <h1>Tracing paper tool</h1>
    <div>
        This tool can help you to determine coordinates of items on displayed image.
        You can use data from Record mode as input for JavaScript methods.
        More information at: <a href="https://github.com/georgik/tracing-paper-js">Github</a>.
        Version: 1.1
    </div>
    <div ng-controller="TracingController">
        <div>
            Image: <input id="imageUrlInput" type="text" ng-model="imageUrl" />
        </div>

        <div id="imageContainer">
            <img id="baseImage" src="{{imageUrl}}" ng-click="onImageClick($event)"/>
            <img id="crossair" src="img/crosshair.png" ng-style="crosshairStyle"/>
            <i class="positionMarker fa fa-flag" ng-repeat="item in stack" ng-style="getStyle(item)">{{$index}}</i>
        </div>
        <div>
            Origin coordinates: <input type="text" ng-model="originX" />, <input type="text" ng-model="originY" />
            <input type="button" value="Set" ng-click="originButtonClick()" />
            <input type="button" value="Reset" ng-click="originResetClick()" />
        </div>
        <div>
            Selected coordinates: {{lastX}}, {{lastY}}
        </div>
        <div id="managerContainer">
            <div id="pointManager">
                <h3>Point managament</h3>
                <input id="recordMode" type="checkbox" ng-model="isRecordMode" />
                <label for="recordMode">Record mode</label>
                <div id="colorPicker">
                    <div ng-repeat="color in colors" ng-style="getColorStyle(color)"
                            ng-click="selectColor(color)">&nbsp;</div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <h3>Additional attributes</h3>
                    <div ng-repeat="pointAttribute in pointAttributes">
                        {{pointAttribute}}: <input type="text" ng-model="selectedAttributes[pointAttribute]" />
                        <a ng-click="removeAttribute(pointAttribute, $index)"><i class="pointer fa fa-trash-o"></i></a>
                    </div>
                </div>
                <div>
                    <input ng-model="newAttributeName" placeholder="New attribute"/>
                    <input type="button" value="Add" ng-click="addNewAttribute()">
                </div>
                <h3>Points</h3>
                <ul>
                    <li ng-repeat="item in stack">
                        {{$index}}. x: {{item.x}}, y: {{item.y}}
                        <span ng-repeat="pointAttribute in pointAttributes">
                            , {{pointAttribute}}: {{item[pointAttribute]}}
                        </span>
                        <a ng-click="removePoint($index)"><i class="pointer fa fa-trash-o"></i></a>
                    </li>
                </ul>
            </div>
            <div id="codeManager">
                <h3>Code management</h3>
                <div>JavaScript code:</div>
                <ul>
                    <li ng-repeat="item in stack">{ x: {{item.x}}, y: {{item.y}}
                        <span ng-repeat="pointAttribute in pointAttributes">
                            , {{pointAttribute}}: "{{item[pointAttribute]}}"
                        </span>
                        },
                    </li>
                </ul>

            </div>
        </div>
    </div>
</body>
</html>